
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    /* Add styles for the background image */
    .background-image {
      background-image: url('../../../assets/background.jpg'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.7;
      filter: blur(3px); /* Apply a slight blur effect */
    }
  
    /* Add styles for the Parking button */
    .parking-button {
      font-size: 24px;
      color: white;
      background-color: #4CAF50; /* Green color, adjust as needed */
      padding: 20px 40px; /* Add padding for a larger button */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
  }