
    <mat-card>
        <mat-card-title class="mat-h2">{{ title }}</mat-card-title>
        <mat-card-content>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="numero enregistrement">
                <th mat-header-cell *matHeaderCellDef> numero </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              
        
            <ng-container matColumnDef="Numero matricule">
              <th mat-header-cell *matHeaderCellDef> Numero matricule </th>
              <td mat-cell *matCellDef="let element"> {{element.code_matricule}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="date entree">
              <th mat-header-cell *matHeaderCellDef> Date entree </th>
              <td mat-cell *matCellDef="let element"> {{element.date_entree}} </td>
            </ng-container>
            <ng-container matColumnDef="date sortie">
                <th mat-header-cell *matHeaderCellDef>Date sortie </th>
                <td mat-cell *matCellDef="let element">{{element.date_sortie}} </td>
              </ng-container>
              
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-card-content>
      </mat-card>
