
<mat-toolbar color="primary">
    <span>H2Parcking</span>
    <span class="spacer"></span>
    
    <button mat-button routerLink="/add-car">Ajouter une voiture</button>
    <button mat-button routerLink="/enregistrement">enregistrements</button>
    <button mat-button routerLink="/list-cars">Liste des voitures</button>
    <button mat-button routerLink="/add-abonnement">Ajouter Abonnement</button>
    <button mat-flat-button color="warn" (click)="logout()" class="demo-button">logout</button> <!-- Nouveau bouton pour AddAbonnement -->
</mat-toolbar>
