
<mat-toolbar color="primary">
    <span>H2Parcking</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Accueil</button>
    <button mat-button routerLink="/add-car">Ajouter une voiture</button>
    <button mat-button routerLink="/enregistrement">Ajouter un enregistremnt</button>
    <button mat-button routerLink="/list-cars">Liste des voitures</button>
    <button mat-button routerLink="/add-abonnement">Ajouter un abonnement</button> <!-- Nouveau bouton pour AddAbonnement -->
</mat-toolbar>
